@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-family-main: "Arial", sans-serif;
}

:root[data-theme="wixapol"] {
  --color-background: #ffff00;
  --color-secondary: #cfcf18;
  --color-background-dimmed: #afaf02;
  --color-foreground: #171717;
  --font-family-main: var(--font-comic-relief), "Comic Sans MS", "Comic Sans", "Chalkboard SE", cursive;
}

:root[data-theme="dark"] {
  --color-background: var(--color-indigo-800);
  --color-background-dimmed: var(--color-indigo-700);
  --color-foreground: #ededed;
  --color-secondary: var(--color-indigo-600);
  --font-family-main: "Arial", sans-serif;
}

:root[data-theme="hellokitty"] {
  --color-background: var(--color-pink-100);
  --color-foreground: #2c1810;
  --color-secondary: var(--color-pink-300);
  --color-background-dimmed: var(--color-pink-200);
  --font-family-main: var(--font-playfair-display), "Playfair Display", "Times New Roman", serif;
}
@theme{
  --color-secondary: var(--color-secondary);
  --color-background2: var(--color-background-dimmed)
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family-main);
}